ROBOKASSA_MERCHANT_LOGIN=
ROBOKASSA_PASSWORD1=
ROBOKASSA_PASSWORD2=
ROBOKASSA_TEST_MODE=
ROBOKASSA_TEST_PASSWORD1=
ROBOKASSA_TEST_PASSWORD2=
ROBO_API=

ROBOKASSA_RESULT_URL=
ROBOKASSA_SUCCESS_URL=
ROBOKASSA_FAIL_URL=

SECRET_KEY=

TOKEN=

ALLOWED_HOSTS=


NAME=
USER=
HOST=
PASSWORD=
PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


API_KEY=
SHP_ID=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
